<a href="https://colab.research.google.com/drive/1RJZHXb7FFFD53D78eqLPUNzkByphwXe8#scrollTo=9aEgpNlDodeF"
target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller 2



MINE-4101: Applied Data Science  Univerisdad de los AndesIntegrantes:

- Lina Ojeda - 202112324 - l.ojedaa@uniandes.edu.co
- William Toro - 201112526 - wy.toro993@uniandes.edu.co

**Dataset:** Apartamentos[[dataset](https://github.com/lojedaa/Taller_2_ciencia_de_datos/blob/main/Taller%202/apartamentos.csv) | [dictionary](https://github.com/lojedaa/Taller_2_ciencia_de_datos/blob/main/Taller%202/Diccionario%20de%20datos%20-%20apartamentos.html)].

# 0. Importaciones, configuraciones e instalaciones

In [1]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [2]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

# 1. Carga de datos y limpieza basica

In [3]:
url_apartamentos = "https://raw.githubusercontent.com/lojedaa/Taller_2_ciencia_de_datos/refs/heads/main/Taller%202/apartamentos.csv"
url_diccionario = "https://raw.githubusercontent.com/lojedaa/Taller_2_ciencia_de_datos/refs/heads/main/Taller%202/Diccionario%20de%20datos%20-%20apartamentos.html"

df_ini = pd.read_csv(url_apartamentos)
diccionario = pd.read_html(url_diccionario)

In [4]:
print(diccionario)

[                    Columna                                        Descripción
0                    codigo       Código único que identifica cada apartamento
1            tipo_propiedad        Tipo de propiedad (apartamento, casa, etc.)
2            tipo_operacion          Tipo de operación (venta, arriendo, etc.)
3              precio_venta                Precio de venta del apartamento COP
4           precio_arriendo             Precio de arriendo del apartamento COP
5                      area           Área del apartamento en metros cuadrados
6              habitaciones             Número de habitaciones del apartamento
7                     banos                    Número de baños del apartamento
8            administracion  Valor de la cuota de administración del aparta...
9              parqueaderos                 Número de parqueaderos disponibles
10                   sector  Sector o zona en la que se encuentra el aparta...
11                  estrato             Estrato socioeconómico del apartamento
12               antiguedad                 Antigüedad del apartamento en años
13                   estado              Estado del apartamento (nuevo, usado)
14                 longitud                Longitud geográfica del apartamento
15                  latitud                 Latitud geográfica del apartamento
16              descripcion              Descripción detallada del apartamento
17                 datetime            Fecha y hora de extracción de los datos
18                  jacuzzi        Indica si el apartamento cuenta con jacuzzi
19                  piscina        Indica si el apartamento cuenta con piscina
20            salon_comunal  Indica si el apartamento cuenta con salón comunal
21                  terraza        Indica si el apartamento cuenta con terraza
22               vigilancia  Indica si el apartamento cuenta con vigilancia...
23                     piso  Número de piso en el que se encuentra el apart...
24                  closets                Número de closets en el apartamento
25                 chimenea       Indica si el apartamento cuenta con chimenea
26         permite_mascotas   Indica si se permiten mascotas en el apartamento
27                 gimnasio       Indica si el apartamento cuenta con gimnasio
28                 ascensor          Indica si el edificio cuenta con ascensor
29         conjunto_cerrado  Indica si el apartamento se encuentra en conju...
30          coords_modified            Coordenadas modificadas del apartamento
31                localidad    Localidad en la que se encuentra el apartamento
32                   barrio       Barrio en el que se encuentra el apartamento
33      estacion_tm_cercana  Nombre de la estacion de transporte masivo mas...
34  distancia_estacion_tm_m  Distancia a la estación de transporte masivo m...
35     is_cerca_estacion_tm  Indica si está cerca de una estación de transp...
36           parque_cercano       Nombre del parque más cercano al apartamento
37       distancia_parque_m  Distancia al parque más cercano al apartamento...
38          is_cerca_parque          Indica si está cerca de un parque <= 500m
39                  website               Sitio web relacionado a la propiedad
40                 compañia     Compañía o agencia responsable de la propiedad
41                last_view  Fecha de la ultima vez que el scraper visito e...
42                 timeline               Historial de precios del apartamento
43                      url                                URL del apartamento]

In [5]:
df_ini.head(5)

,_id,codigo,tipo_propiedad,tipo_operacion,precio_venta,area,habitaciones,banos,administracion,parqueaderos,sector,estrato,antiguedad,latitud,longitud,direccion,descripcion,website,last_view,datetime,url,timeline,estado,compañia,precio_arriendo,jacuzzi,piso,closets,chimenea,permite_mascotas,gimnasio,ascensor,conjunto_cerrado,piscina,salon_comunal,terraza,vigilancia,coords_modified,localidad,barrio,estacion_tm_cercana,distancia_estacion_tm_m,is_cerca_estacion_tm,parque_cercano,distancia_parque_m,is_cerca_parque
0,66d86c7eceda690e85508760,4133491,APARTAMENTO,VENTA,339000000.0,76.0,3.0,2.0,300000.0,1.0,BRITALIA,3.0,ENTRE 10 Y 20 ANOS,4.746592,-74.057571,CARRERA 55A # 163-35,"apartamento en venta de 76m2, con vista exteri...",habi.co,2024-08-13 10:34:47.315,2024-07-03 23:27:30.843,https://habi.co/page-data/venta-apartamentos/1...,[{'fecha': {'$date': '2024-07-03T23:27:30.843Z...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,False,SUBA,URB. PICADELLY,Toberin - Foundever,1142.45,0,PARQUE VECINAL DESARROLLO CANTALEJO URBANIZACI...,426.09,1
1,66d86c7eceda690e85508761,3889852,APARTAMENTO,VENTA,223000000.0,63.0,3.0,2.0,NaN,0.0,SAN CRISTOBAL NORTE,3.0,MAS DE 20 ANOS,4.730111,-74.028170,CARRERA 7F # 153 - 75,"apartamento en venta de 60m2, con vista interi...",habi.co,2024-09-03 23:46:46.547,2024-07-03 23:27:31.667,https://habi.co/page-data/venta-apartamentos/1...,[],NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,USAQUEN,BARRANCAS PERLAS DEL NORTE,Mazurén,2384.89,0,PARQUE ZONAL ALTA BLANCA,472.47,1
2,66d86c7eceda690e85508762,4386770,APARTAMENTO,VENTA,440898168.0,54.0,3.0,2.0,305000.0,0.0,LA SABANA,3.0,ENTRE 0 Y 5 ANOS,4.607378,-74.082648,CARRERA 69C #2 - 60,"apartamento en venta de 54m2, con vista exteri...",habi.co,2024-07-10 18:19:39.749,2024-07-03 23:27:31.886,https://habi.co/page-data/venta-apartamentos/1...,[],NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,False,LOS MARTIRES,SAN VICTORINO,De La Sabana,232.22,1,PARQUE METROPOLITANO TERCER MILENIO,961.29,0
3,66d86c7eceda690e85508763,4210060,APARTAMENTO,VENTA,158000000.0,43.0,2.0,2.0,106600.0,0.0,TIBABUYES,2.0,ENTRE 10 Y 20 ANOS,4.740109,-74.113675,CALLE 131C # 126-95,"apartamento en venta de 43 m2, con vista inter...",habi.co,2024-07-10 18:19:03.061,2024-07-03 23:27:32.141,https://habi.co/page-data/venta-apartamentos/1...,[],NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,False,SUBA,LA ESTRELLA II,Portal Suba,2275.08,0,PARQUE ZONAL LA GAITANA,539.98,0
4,66d86c7eceda690e85508764,4063762,APARTAMENTO,VENTA,222800000.0,48.0,3.0,2.0,151000.0,0.0,VERBENAL,3.0,MAS DE 20 ANOS,4.763900,-74.025280,CARRERA 5 # 187-15,"apartamento duplex en venta de 48m2, con vista...",habi.co,2024-09-03 23:46:46.592,2024-07-03 23:27:32.361,https://habi.co/page-data/venta-apartamentos/1...,[],NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,False,USAQUEN,HORIZONTES USAQUEN,Terminal,2099.16,0,PARQUE VECINAL DESARROLLO VERBENAL I,1661.14,0

In [6]:
df_ini.shape

(43013, 46)

In [7]:
df_ini.dtypes

_id                         object
codigo                      object
tipo_propiedad              object
tipo_operacion              object
precio_venta               float64
area                       float64
habitaciones               float64
banos                      float64
administracion             float64
parqueaderos               float64
sector                      object
estrato                    float64
antiguedad                  object
latitud                    float64
longitud                   float64
direccion                   object
descripcion                 object
website                     object
last_view                   object
datetime                    object
url                         object
timeline                    object
estado                      object
compañia                    object
precio_arriendo            float64
jacuzzi                    float64
piso                       float64
closets                    float64
chimenea                   float64
permite_mascotas           float64
gimnasio                   float64
ascensor                   float64
conjunto_cerrado           float64
piscina                    float64
salon_comunal              float64
terraza                    float64
vigilancia                 float64
coords_modified               bool
localidad                   object
barrio                      object
estacion_tm_cercana         object
distancia_estacion_tm_m    float64
is_cerca_estacion_tm         int64
parque_cercano              object
distancia_parque_m         float64
is_cerca_parque              int64
dtype: object

Algunos tipos de datos no corresponden con la descripcion de la variable y se podria modicidar, entre estos se encuntran los valores boleanos 1/0 de is_cerca_parque etc. por otro lado ek codigo el tipo de propiedad  etc etc
antes de continuar haremos los cmabios respectivos de los tipos de las variables... tambien eliminar id ya que codigo e id como son identificadores unicos nos quedamos solo con uno el numerico



(**completar y mejorar redaccion** )

In [8]:
bin_cols = [
    'jacuzzi','chimenea','permite_mascotas','gimnasio','ascensor','conjunto_cerrado',
    'piscina','salon_comunal','terraza','vigilancia',
    'is_cerca_estacion_tm','is_cerca_parque', 'piso', 'closets'
]

for col in bin_cols:
    print(col, df_ini[col].dropna().unique())

jacuzzi [0. 1.]
chimenea [0.]
permite_mascotas [0.]
gimnasio [0. 1.]
ascensor [0. 1.]
conjunto_cerrado [1. 0.]
piscina [0. 1.]
salon_comunal [0.]
terraza [0. 1.]
vigilancia [0. 1.]
is_cerca_estacion_tm [0 1]
is_cerca_parque [1 0]
piso []
closets []

todos se pueden transformar a bolean aunque hay unos que no hay y otros que solo hay de un tipo es decir que no valen la pena mantenerlos se hara la transformacion generla y luego se eliminarna dichas columnas

In [9]:
columnas_booleanas = []
for columna in df_ini.columns:
    valores = set(df_ini[columna].dropna().unique())
    if valores.issubset({0, 1, 0.0, 1.0, True, False}):
        columnas_booleanas.append(columna)

columnas_numericas = [
    "codigo",
    "precio_venta",
    "precio_arriendo",
    "area",
    "habitaciones",
    "banos",
    "administracion",
    "parqueaderos",
    "estrato",
    "piso",
    "closets",
    "latitud",
    "longitud",
    "distancia_estacion_tm_m",
    "distancia_parque_m"
]

columnas_fecha = [
    "datetime",
    "last_view"
]

columnas_texto = [
    "tipo_propiedad",
    "tipo_operacion",
    "sector",
    "estado",
    "localidad",
    "barrio",
    "parque_cercano",
    "estacion_tm_cercana",
    "antiguedad",
    "descripcion",
    "direccion",
    "compañia",
    "website",
    "url"
]


for col in columnas_booleanas:
    df_ini[col] = df_ini[col].astype(bool)



for col in columnas_numericas:
    df_ini[col] = pd.to_numeric(df_ini[col], errors='coerce')



for col in columnas_fecha:
    df_ini[col] = pd.to_datetime(df_ini[col], errors='coerce')


for col in columnas_texto:
    df_ini[col] = df_ini[col].astype('object')

In [10]:
df_ini.dtypes

_id                                object
codigo                            float64
tipo_propiedad                     object
tipo_operacion                     object
precio_venta                      float64
area                              float64
habitaciones                      float64
banos                             float64
administracion                    float64
parqueaderos                      float64
sector                             object
estrato                           float64
antiguedad                         object
latitud                           float64
longitud                          float64
direccion                          object
descripcion                        object
website                            object
last_view                  datetime64[ns]
datetime                   datetime64[ns]
url                                object
timeline                           object
estado                             object
compañia                           object
precio_arriendo                   float64
jacuzzi                              bool
piso                                 bool
closets                              bool
chimenea                             bool
permite_mascotas                     bool
gimnasio                             bool
ascensor                             bool
conjunto_cerrado                     bool
piscina                              bool
salon_comunal                        bool
terraza                              bool
vigilancia                           bool
coords_modified                      bool
localidad                          object
barrio                             object
estacion_tm_cercana                object
distancia_estacion_tm_m           float64
is_cerca_estacion_tm                 bool
parque_cercano                     object
distancia_parque_m                float64
is_cerca_parque                      bool
dtype: object

In [11]:
columnas_seleccionadas = [
    "tipo_propiedad",
    "tipo_operacion",
    "habitaciones",
    "banos",
    "parqueaderos",
    "estrato",
    "antiguedad",
    "website",
    "estado",
    "jacuzzi",
    "piso",
    "closets",
    "chimenea",
    "permite_mascotas",
    "gimnasio",
    "ascensor",
    "conjunto_cerrado",
    "piscina",
    "salon_comunal",
    "terraza",
    "vigilancia",
    "coords_modified",
    "localidad",
    "is_cerca_parque",
    "is_cerca_estacion_tm"
]

for col in columnas_seleccionadas:
    print(f"\n--- {col} ---")
    print(df_ini[col].value_counts(dropna=False))

--- tipo_propiedad ---
tipo_propiedad
APARTAMENTO                  42943
CASA CON CONJUNTO CERRADO       60
CASA                            10
Name: count, dtype: int64

--- tipo_operacion ---
tipo_operacion
VENTA               27270
ARRIENDO            15515
VENTA Y ARRIENDO      228
Name: count, dtype: int64

--- habitaciones ---
habitaciones
3.0    22818
2.0    10625
1.0     5309
4.0     3825
5.0      433
6.0        1
7.0        1
NaN        1
Name: count, dtype: int64

--- banos ---
banos
2.0    14825
3.0    10605
4.0     6615
1.0     6614
5.0     4329
0.0       23
6.0        1
NaN        1
Name: count, dtype: int64

--- parqueaderos ---
parqueaderos
 2.0     15525
 1.0     12678
 0.0      6615
 3.0      5045
 4.0      3143
 10.0        2
 20.0        2
-2.0         1
 NaN         1
 30.0        1
Name: count, dtype: int64

--- estrato ---
estrato
6.0    19011
4.0     8842
5.0     7556
3.0     6085
2.0     1402
1.0      105
0.0       11
NaN        1
Name: count, dtype: int64

--- antiguedad ---
antiguedad
MAS DE 20 ANOS        14352
ENTRE 10 Y 20 ANOS    11536
ENTRE 0 Y 5 ANOS       8057
ENTRE 5 Y 10 ANOS      7021
REMODELADO             1811
SOBRE PLANOS            107
EN CONSTRUCCION         101
PARA ESTRENAR            18
NaN                      10
Name: count, dtype: int64

--- website ---
website
metrocuadrado.com    42217
habi.co                794
NaN                      2
Name: count, dtype: int64

--- estado ---
estado
USADO    41991
NaN        796
NUEVO      226
Name: count, dtype: int64

--- jacuzzi ---
jacuzzi
False    41064
True      1949
Name: count, dtype: int64

--- piso ---
piso
True    43013
Name: count, dtype: int64

--- closets ---
closets
True    43013
Name: count, dtype: int64

--- chimenea ---
chimenea
False    43011
True         2
Name: count, dtype: int64

--- permite_mascotas ---
permite_mascotas
False    43011
True         2
Name: count, dtype: int64

--- gimnasio ---
gimnasio
False    30314
True     12699
Name: count, dtype: int64

--- ascensor ---
ascensor
True     27018
False    15995
Name: count, dtype: int64

--- conjunto_cerrado ---
conjunto_cerrado
False    26216
True     16797
Name: count, dtype: int64

--- piscina ---
piscina
False    39122
True      3891
Name: count, dtype: int64

--- salon_comunal ---
salon_comunal
False    43011
True         2
Name: count, dtype: int64

--- terraza ---
terraza
False    42967
True        46
Name: count, dtype: int64

--- vigilancia ---
vigilancia
True     25266
False    17747
Name: count, dtype: int64

--- coords_modified ---
coords_modified
False    42159
True       854
Name: count, dtype: int64

--- localidad ---
localidad
USAQUEN               14831
CHAPINERO             13032
SUBA                   6828
FONTIBON               1645
KENNEDY                1320
ENGATIVA               1242
TEUSAQUILLO            1144
SANTA FE                671
BOSA                    421
PUENTE ARANDA           325
BARRIOS UNIDOS          322
CIUDAD BOLIVAR          302
LOS MARTIRES            296
RAFAEL URIBE URIBE      184
ANTONIO NARINO          107
CANDELARIA              101
SAN CRISTOBAL            95
USME                     92
TUNJUELITO               55
Name: count, dtype: int64

--- is_cerca_parque ---
is_cerca_parque
False    31183
True     11830
Name: count, dtype: int64

--- is_cerca_estacion_tm ---
is_cerca_estacion_tm
False    34002
True      9011
Name: count, dtype: int64

In [12]:
df_ini.isna().sum()

_id                            0
codigo                     42219
tipo_propiedad                 0
tipo_operacion                 0
precio_venta               15429
area                           0
habitaciones                   1
banos                          1
administracion              7925
parqueaderos                   1
sector                      1641
estrato                        1
antiguedad                    10
latitud                        0
longitud                       0
direccion                  42219
descripcion                    0
website                        2
last_view                      2
datetime                       2
url                        42219
timeline                   13586
estado                       796
compañia                    4530
precio_arriendo            27184
jacuzzi                        0
piso                           0
closets                        0
chimenea                       0
permite_mascotas               0
gimnasio                       0
ascensor                       0
conjunto_cerrado               0
piscina                        0
salon_comunal                  0
terraza                        0
vigilancia                     0
coords_modified                0
localidad                      0
barrio                       193
estacion_tm_cercana            0
distancia_estacion_tm_m        0
is_cerca_estacion_tm           0
parque_cercano                 0
distancia_parque_m             0
is_cerca_parque                0
dtype: int64

In [13]:
columnas_eliminar = [
    "_id",
    "url",
    "website",
    "descripcion",
    "direccion",
    "timeline",
    "compañia",
    "coords_modified",
    "piso",
    "closets",
    "website",
    "codigo"
    ""
]

df_ini = df_ini.drop(columns=columnas_eliminar, errors="ignore")


df_ini = df_ini[~df_ini["precio_venta"].isna()]

Las siguientes variables fueron eliminadas porque no aportan información útil para predecir el precio del inmueble, presentan altos porcentajes de valores nulos o corresponden a información técnica del proceso de extracción que no describe al apartamento:
* _id y codigo: identificadores del registro, no representa ninguna característica
del inmueble y ya tenemos codigo como identificador único.
* url: enlace del anuncio; información externa irrelevante para el modelo.
* website: portal donde se publicó el anuncio, no influye en el valor real del * inmueble y solo añade ruido.
* descripcion: texto libre no estructurado, continee informacion que ya hay en otras columnas.
* direccion: texto difícil de estandarizar y con más del 70% de valores nulos, además se reemplaza por latitud y longitud.
* compañía: inmobiliaria responsable del anuncio, no describe características del inmueble y presenta muchos valores faltantes.
* coords_modified: no nos da informacion relevante del apartamento
* piso: más del 98% de valores nulos, lo que impide imputación confiable.
* closets: también con más del 98% de valores nulos, sin utilidad para el modelo.

In [14]:
columnas_eliminar = df_ini.columns[df_ini.isna().sum() <= 10]
columnas_eliminar

Index(['tipo_propiedad', 'tipo_operacion', 'precio_venta', 'area',
       'habitaciones', 'banos', 'parqueaderos', 'estrato', 'antiguedad',
       'latitud', 'longitud', 'last_view', 'datetime', 'jacuzzi', 'chimenea',
       'permite_mascotas', 'gimnasio', 'ascensor', 'conjunto_cerrado',
       'piscina', 'salon_comunal', 'terraza', 'vigilancia', 'localidad',
       'estacion_tm_cercana', 'distancia_estacion_tm_m',
       'is_cerca_estacion_tm', 'parque_cercano', 'distancia_parque_m',
       'is_cerca_parque'],
      dtype='object')

In [15]:
filas_antes = df_ini.shape[0]
df_ini = df_ini.dropna(subset=columnas_eliminar).reset_index(drop=True)
filas_despues = df_ini.shape[0]

print("Filas eliminadas:", filas_antes - filas_despues)

Filas eliminadas: 14

In [16]:
df_ini.isna().sum()

tipo_propiedad                 0
tipo_operacion                 0
precio_venta                   0
area                           0
habitaciones                   0
banos                          0
administracion              2444
parqueaderos                   0
sector                       776
estrato                        0
antiguedad                     0
latitud                        0
longitud                       0
last_view                      0
datetime                       0
estado                       793
precio_arriendo            27170
jacuzzi                        0
chimenea                       0
permite_mascotas               0
gimnasio                       0
ascensor                       0
conjunto_cerrado               0
piscina                        0
salon_comunal                  0
terraza                        0
vigilancia                     0
localidad                      0
barrio                       143
estacion_tm_cercana            0
distancia_estacion_tm_m        0
is_cerca_estacion_tm           0
parque_cercano                 0
distancia_parque_m             0
is_cerca_parque                0
dtype: int64

In [17]:
df_ini.describe()

,precio_venta,area,habitaciones,banos,administracion,parqueaderos,estrato,latitud,longitud,last_view,datetime,precio_arriendo,distancia_estacion_tm_m,distancia_parque_m
count,2.757000e+04,27570.000000,27570.000000,27570.000000,2.512600e+04,27570.000000,27570.000000,27570.000000,27570.000000,27570,27570,4.000000e+02,27570.000000,27570.000000
mean,2.365305e+09,143.029371,2.746464,2.831810,5.061742e+06,1.760428,4.863547,4.688882,-74.063040,2024-08-04 03:43:35.210500608,2024-07-19 12:12:13.038920192,8.458840e+07,1284.850580,817.146976
min,1.000000e+06,0.000000,1.000000,0.000000,1.000000e+00,-2.000000,0.000000,4.468629,-74.213645,2024-07-03 23:27:37.566000,2024-07-03 23:27:30.843000,7.400000e+05,4.940000,0.220000
25%,4.029000e+08,69.000000,2.000000,2.000000,3.500000e+05,1.000000,4.000000,4.665347,-74.068855,2024-08-02 19:15:50.705749760,2024-07-04 06:25:23.623499776,4.480000e+06,587.010000,489.670000
50%,7.000000e+08,110.000000,3.000000,3.000000,6.500000e+05,2.000000,5.000000,4.692954,-74.052000,2024-08-09 01:44:20.432999936,2024-07-07 21:45:31.573999872,7.500000e+06,1196.700000,763.415000
75%,1.330000e+09,180.000000,3.000000,4.000000,1.199850e+06,2.000000,6.000000,4.716520,-74.043145,2024-08-13 18:35:12.672999936,2024-08-08 17:59:46.914999808,1.200000e+07,1731.810000,1090.862500
max,4.250000e+12,19621.000000,7.000000,6.000000,3.500000e+09,30.000000,6.000000,4.819197,-74.014000,2024-09-03 23:49:48.998000,2024-09-03 23:49:02.032000,1.800000e+10,7095.660000,6168.020000
std,5.575612e+10,234.242946,0.781134,1.167733,7.650366e+07,1.092657,1.218914,0.038122,0.034125,NaN,NaN,9.942646e+08,843.701766,444.134697

In [18]:
df_ini.columns.duplicated().sum()

np.int64(0)

In [19]:
df_ini.shape

(27570, 35)

In [20]:
df_ini["sector"] = df_ini["sector"].fillna("SIN_SECTOR")
df_ini["barrio"] = df_ini["barrio"].fillna("SIN_BARRIO")
df_ini["antiguedad"] = df_ini["antiguedad"].fillna("SIN_INFO")

# 2.

In [21]:
y = df_ini["precio_venta"]
X = df_ini.drop("precio_venta", axis=1)

X_train, X_temp, y_train, y_temp = train_test_split(
    X, y,
    test_size=0.30,
    random_state=42
)

X_val, X_test, y_val, y_test = train_test_split(
    X_temp, y_temp,
    test_size=0.50,
    random_state=42
)

print("Train shape:", X_train.shape)
print("Val shape:", X_val.shape)
print("Test shape:", X_test.shape)

Train shape: (19299, 34)
Val shape: (4135, 34)
Test shape: (4136, 34)

In [22]:
imputacion_admin = SimpleImputer(strategy="median")

X_train["administracion"] = imputacion_admin.fit_transform(X_train[["administracion"]])
X_val["administracion"]   = imputacion_admin.transform(X_val[["administracion"]])
X_test["administracion"]  = imputacion_admin.transform(X_test[["administracion"]])